@import url(./cssreset.css);
@import url(./bootstrap/css/bootstrap-grid.min.css);
@import url(./bootstrap/css/bootstrap-reboot.min.css);
@import url(./bootstrap/css/bootstrap.min.css);
#mensaje {
  position: relative;
  width: 100%; }

#indexmenu {
  text-align: center;
  position: relative;
  padding: 2%;
  background-color: #7AB1DB;
  top: 10%; }

.accion, .col {
  margin-right: 0;
  margin-left: 0;
  width: 25%;
  min-width: 150px; }

#accion1, #accion2 {
  width: 60%;
  margin: auto; }

body {
  position: absolute;
  background-color: #FFF;
  width: 100%;
  height: 100%; }

.container {
  height: 100%; }

form {
  position: relative;
  background-color: #7AB1DB;
  top: 10%; }

input {
  position: relative;
  margin-bottom: 2%; }

#submit, button {
  background-color: #016FB9 !important; }

button {
  margin-bottom: 2%; }

#instrucciones {
  font-size: 80%; }

/*

Palette:
#7AB1DB
#000000
#0E3B43
#FFFFFF
016FB9

*/

/*# sourceMappingURL=style.css.map */
